.formCreate {

    &__form {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: grid;
        gap: 16px;
    }
}

@media (min-width: 768px) {
    .formCreate {
        margin-left: 50px;
    }
}