.settings {
  width: 300px;
  height: 100vh;
  display: grid;
  background-color: var(--color-white);

  &__icons {
    width: 300px;
    height: 60px;
    padding: 0 20px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--color-white);
    justify-content: space-between;
    gap: 20px;
  }
}