.settingsProfile {
    width: 100%;
    padding: 0 20px;
    padding-top: 100px;

    &__item {
        cursor: pointer;
        height: fit-content;
        justify-content: center;
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;

        &:hover {
            color: var(--color-blue);
        }

        &_active {
            color: var(--color-blueDark);
        }
    }

    &__button {
        width: 100%;
    }
}