:root {
    --color-white: #ffffff;
    --color-black: #000000;


    --color-red: #d91111;
    --color-redDark: #ed0606;

    --color-blue: #3f8dd5;
    --color-blueLight: #7DC0FF;
    --color-blueDark: #2c70af;

    --color-pink: #F081CB;
    --color-pinkLight: #FCDCF1;
    --color-pinkDark: #ec62be;

    --color-gray: #bab4b4;
    --color-grayLight: #D9D9D9;
    --color-grayDark: #a6a3a3;

    /* Blue colors */
    --color-blue-100: #e6f0ff;
    --color-blue-300: #b5c9ef;
    --color-blue-500: #3b82f6;
    --color-blue-700: #175ac5;
    --color-blue-800: #0642a3;
    --color-blue-900: #1e0095;
    /* Gray colors */
    --color-gray-100: #f7f5f5;
    --color-gray-200: #dfdfdf;
    --color-gray-300: #bfbfbf;
    --color-gray-400: #9f9f9f;
    --color-gray-500: #5b5b5b;
    --color-gray-600: #414141;
    --color-gray-700: #333333;
    --color-gray-800: #1a1a1a;
    --color-gray-900: #101010;

    /* Inout */
    --color-input-text: var(--color-gray-800);
    --color-input-error: var(--color-red);
    --color-input-border: var(--color-gray-300);
    --color-input-border-hover: var(--color-blue-500);
    --color-input-helper-text: var(--color-gray-400);
    --color-input-hover-background: var(--color-gray-100);
    --color-input-hover-text: var(--color-blue-500);

    /* Theme */
    --color-theme-pink: #FCDCF1;
    --color-theme-green: #78dd7d;
    --color-theme-blue: #85c3ec;
}

[data-theme="pink"] {
    --color-pinkLight: #FCDCF1;
}

[data-theme="green"] {
    --color-pinkLight: #78dd7d;
}

[data-theme="blue"] {
    --color-pinkLight: #85c3ec;
}