:root { 
    --color-white: #ffffff;
    --color-balck: #000000;
    --color-pink: #F081CB;
    --color-pinkLight: #FCDCF1;
    --color-pinkDark: #ec62be;
    --color-blueLight: #7DC0FF;
    --color-grayLight: #D9D9D9;
    --color-red: #d91111;
}