.themePage {
    display: flex;
    background-color: var(--color-pinkLight);
    min-height: 100vh;

    &__form {
        margin-top: 30px;
        margin-left: 100px;
    }

    &__main {
        width: 100%;
        padding: 0 20px;
        padding-top: 100px;
        min-height: 100vh;

        &-item {
            cursor: pointer;
            height: fit-content;
            justify-content: center;
            margin-bottom: 20px;
            justify-content: center;
            text-align: center;

            &:hover {
                color: var(--color-blue);
            }

            &_active {
                color: var(--color-blueDark);
            }
        }

        &-button {
            width: 100%;
        }
    }

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #000000;
        margin-right: 16px;

        &_pink {
            background-color: var(--color-theme-pink);
        }

        &_green {
            background-color: var(--color-theme-green);
        }

        &_blue {
            background-color: var(--color-theme-blue);
        }
    }
}