.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    color: var(--color-black);

    &__container {
        width: 400px;
        display: grid;
        gap: 10px;

        &__error {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: var(--color-red);
        }

        &__title {
            font-size: 25px;
            font-weight: 700;
            text-align: center;
        }

        &__form {
            display: grid;
            gap: 20px;
        }

        &__item {
            font-size: 18px;
            font-weight: 400;
        }
    }
}