.userList {
  width: 300px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-balck);
  overflow-y: auto;
  padding-bottom: 50px;
  margin-top: 50px;
  
  &__item {
    height: 50px;
    background-color: var(--color-grayLight);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 20px;
    display: flex;

    &_active {
      background-color: var(--color-blueLight);
    }
  }
}